body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color:#2e2e2e;
}
.column{
  width:1170px;
  margin:0 auto;
}
.floatleft{
  float:left;
}
.floatright{
  float:right;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  color:#fff;
}
a:hover{
  color:#fff;
  text-decoration: none;
}
.fix{
  overflow:hidden;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
.section-padding{
  padding: 100px 0;
}
.header-area{
  background:#2e2e2e;
  min-height: 75px;
}
.header{
  
}
.logo{
  position: relative;
}
.logo img{
  position: absolute;
  top:0;
  left: 0;

}
.mainmenu{

}

.mainmenu ul#nav{
  border:1px solid #3a3a3a;
}
.mainmenu ul#nav li{
  display: inline;
}
.mainmenu ul#nav li a{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding:24.5px 20px;
  border-left: 1px solid #3a3a3a;
}
.mainmenu ul#nav li a:hover{
  background-color:rgba(255, 175, 0, 0.66);
}

.mainmenu ul#nav li a:active,
.mainmenu ul#nav li a:visited,
.mainmenu ul#nav li a:focus{
  text-decoration: none;
  color:#fff;
}
.welcome-text-area{
  background:url(img/header.jpg) no-repeat scroll 0 0 / cover;
  min-height: 400px;
}
.welcome-text{
  color:#2e2e2e;
  text-align: center;
  padding-top: 150px;
}
.welcome-text h1{
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
}
.welcome-text p{
  text-transform: uppercase;
}
.section-title{
  text-align: center;
  margin-bottom: 50px;
}
.section-title h1{
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;

}
.section-title p{
  text-transform: uppercase;
}


.how-it-works-area{
  text-align: center;
}
.how-it-works{
  margin-left: -30px;
}
.single-work{
  margin-left: 30px;
  width: 269px;

}
.single-work div.icon-img{
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}
.single-work div.icon-img:before{
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background:#d2d2d2;
  left: 50%;
  margin-left: -15px;
  bottom:0;
}
.single-work h4{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.single-work p{

}
a.more-projects{
  display: inline-block;
  font-size:16px;
  font-weight: 700;
  color:#828282;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  border:1px solid #828282;
  padding: 15px 25px;
  border-radius: 5px
}
a.more-projects:hover{
  background-color: rgb(206, 206, 97);
  color:#fff;
}
a.more-projects:active,
a.more-projects:visited,
a.more-projects:focus{
    text-decoration: none;
}
.parallax-area{
  position: relative;
}
.click-share-bg{
  position: absolute;
  background:url(img/parallax.jpg) no-repeat scroll 0 0 / cover;
  width: 100%;
  height: 100%;
  top:0;
  left:0;

}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background:#2e2e2e;
  opacity: .4;
  top:0;
  left:0;
}
.parallax{
  text-align: center;
}
.parallax a{
  position: relative; 
  z-index: 9999;
  font-style: 28px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom:1px solid #fff;
  text-transform: uppercase;
  font-size:34px;
}
.parallax a span{
  color:#549dc5;
}

.projects-area{

}
.preojects{

}
ul#filters{
  text-align: center;
  margin-bottom: 30px;
}
ul#filters li{
  display: inline;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0 25px;
  text-transform: uppercase;
  position: relative;

}
ul#filters li:after{
  content: "/";
  position: absolute;
  right: -5px;

}
ul#filters li:last-child:after{
  content:  "";
}
ul#filters li.filter.active{
  color:#549dc5;
}
ul#filters li.filter.active:after{
  color:#2e2e2e;
}
.portfolio-items .mix{
  display: none;
}
.portfolio-items{
  margin-left:-10px;
}
.single-portfolio{
  margin-left: 10px;
  width: 280px;
  margin-bottom: 10px;
}
.single-portfolio img{
  width: 100%;
  
}
.unique-bg{
    position: absolute;
  background:url(img/parallax2.jpg) no-repeat scroll 0 0 / cover;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

.parallax h3{
  position: relative; 
  z-index: 9999;
  font-style: 28px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom:1px solid #fff;
  text-transform: uppercase;
  font-size:34px;
  color:#fff;
  border:none;
}
.parallax h3 span{
  color:#549dc5;
}
.parallax a.more-projects{
  text-transform: uppercase;
  font-size: 16px;
  color:#fff;
  padding: 15px 24px;
  border:2px solid #fff;
  border-radius: 0;
}
.parallax-area div.oberlay{
  opacity: .4;
}
.about-text{
  width: 780px;
}
.about-area{

}
.about-area h3{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color:#484848;
  margin-bottom: 25px;

}
.about-text p span{
  text-transform: uppercase;
  display: block;
  margin-bottom: 25px;
  line-height: 30px;
}
.about-text a{
  font-size:14px;
  text-transform: uppercase;
  color:#2e2e2e;
  display: inline-block;
  margin-top:10px;
}
.content-row{

}
.about-text-img{

}
.blog-list{
  margin-left: -30px;
  margin-top: 30px;
}
.single-post{
  margin-left: 30px;
  width: 370px;
}
.meet-the-team{
  margin-top:75px;
  padding-top: 75px;
  border-top:1px solid #d2d2d2;
}
.member-list{
  margin-left: -30px;
}
.single-member{
  margin-left: 30px;
  width: 370px;
  text-align: center;
}
.single-member img{
  width: 100%;
 height: 300px;
}
.single-member img:hover{
  
}
.single-member h4{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
}
.single-member h4 span{
  text-transform: none;
  display: block;
  font-size: 16px;
  color:#549dc5;
  margin-top: 10px;
}
.testimonial-area{
  position: relative;
}
.testimonial-bg{
     position: absolute;
  background:url(img/testimonial-bg.jpg) no-repeat scroll 0 0 / cover;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.testtimonial-area .overlay{
  opacity: .22;

}
.testimonial{
  z-index: 999;
  position: relative;
  text-align: center;
  color:#fff;
  padding: 0 185px;
}
.testimonial:before{
  content: :"";
  font-size: 100px;
  font-weight: 300;
  position: absolute;
  left: 120px;
  top:20px;
}
.testimonial:after{
  content: :"";
  font-size: 100px;
  font-weight: 300;
  position: absolute;
  right: 120px;
  top:20px;
}
.single-testimonial{
  text-transform: uppercase;
}
.single-testimonial h4{
  color:#549dc5;
  margin-top:15px;
  text-transform: none;
}
.testimonial.owl-carousel .owl-controls{
  margin-top: 30px;
}
.testimonial.owl-carousel .owl-controls .owl-buttons{
  margin-left: -15px;
}
.testimonial.owl-carousel .owl-controls .owl-buttons div{
    width: 29px;
  height: 29px;
  border:1px solid #A8A19B;
  text-align: center;
  padding-top: 1px; 
  display: inline-block;
  margin-left: 15px;
}

.contact-area{

}
.contact{
  padding: 0 185px;
}
.address{
  margin-top:15px;
}
.address p{
  
}
.address p i{
    margin-left: 25px;
    margin-right: 5px;
    margin-bottom: 30px;
    color:#549DC5;
}
.address p i:first-child{
    margin-left: 0;
}
.contact input[type=email]{
  margin-left: 20px;
}
.contact input[type=text], .contact input[type=email]{
  width: 387px;
  padding:11px 0;
  margin-bottom:15px; 
  border:none;
  border-bottom: 1px solid #b2b2b2;
}
 .contact textarea{
  display: block;
  width: 100%;
  resize:none;
  padding: 11px 0;
  border:none;
  border-bottom: 1px solid #b2b2b2;
  min-height: 150px;
  margin-bottom: 20px;
 }
 .contact input[type="submit"]{
  background:#549DC5;
  padding: 15px 20px;
  border:none;
  color:#fff;
  font-weight: bold;
  text-align: center;
  width: 200px;
 }
 form{text-align: center;}
 footer{
    padding:25px 0;
    text-align: center;
    color: #e8e8e8;
    background:#333;
 }